<div
  class="bg-[url('images/logo/usBG.webp')] bg-cover fixed top-0 w-dvw h-50 sm:h-dvh z-2 sm:z-0"
></div>
<div
  class="fixed top-0 w-dvw h-50 z-5 bg-linear-to-b from-[transparent] via-slate-800/90 via-70% to-slate-900 block sm:hidden"
></div>
<div
  class="relative z-0 sm:z-2 flex bg-slate-900 sm:bg-slate-800/75 min-w-0 flex-auto flex-col items-center justify-center"
>
  <div
    class="w-full px-4 py-8 sm:bg-slate-900 sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow-2xl"
  >
    <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
      <div class="w-18">
        <img src="images/logo/logo.webp" />
      </div>
      <div class="mt-8 text-4xl font-extrabold leading-tight tracking-tight">
        {{ "Sign in" | transloco }}
      </div>
      <div class="mt-0.5 flex items-baseline font-medium">
        <div>Don't have an account?</div>
        <a class="ml-1 text-sky-300 hover:underline" [routerLink]="['/sign-up']"
          >Sign up
        </a>
      </div>
      <form class="mt-8" [formGroup]="signInForm" #signInNgForm>
        <mat-form-field class="w-full">
          <mat-label>Email address</mat-label>
          <input id="email" matInput [formControlName]="'email'" />
          @if (signInForm.get('email')?.hasError('required')) {
          <mat-error> Email address is required </mat-error>
          } @if (signInForm.get('email')?.hasError('email')) {
          <mat-error> Please enter a valid email address </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="mt-2 w-full">
          <mat-label>Password</mat-label>
          <input
            id="password"
            matInput
            type="password"
            [formControlName]="'password'"
            #passwordField
          />
          <button
            mat-icon-button
            type="button"
            (click)="
              passwordField.type === 'password'
                ? (passwordField.type = 'text')
                : (passwordField.type = 'password')
            "
            matSuffix
          >
            @if (passwordField.type === 'password') {
            <mat-icon
              class="icon-size-5"
              [svgIcon]="'heroicons_solid:eye'"
            ></mat-icon>
            } @if (passwordField.type === 'text') {
            <mat-icon
              class="icon-size-5"
              [svgIcon]="'heroicons_solid:eye-slash'"
            ></mat-icon>
            }
          </button>
          <mat-error> Password is required </mat-error>
        </mat-form-field>

        <button
          class="fuse-mat-button-large mt-6 w-full"
          mat-flat-button
          [color]="'primary'"
          [disabled]="signInForm.disabled"
        >
          @if (!signInForm.disabled) {
          <span> Sign in </span>
          } @if (signInForm.disabled) {
          <mat-progress-spinner
            [diameter]="24"
            [mode]="'indeterminate'"
          ></mat-progress-spinner>
          }
        </button>
      </form>
    </div>
  </div>
</div>
